<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <!-- <script src="../scripts/bootstrap/bootstrap.min.js" defer></script> -->
    <script src="../scripts/bootstrap/bootstrap.bundle.min.js" defer></script>
    <!-- CSS'S -->
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/dashboard-admin.css">
    <!-- JS'S -->
    <script src="../scripts/dashboard-perfil.js" defer></script>
    <script src="../scripts/dashboard-admin.js" defer></script>
    <title>Deezify - Admin</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-white">
        <div>
            <img src="../assets/icons/logo.svg" alt="d" class="w-25">
            <h1 class="d-inline align-middle" id="h1-deezify">Deezify</h1>
            <!-- <span class="align-bottom">Admin</span> -->
        </div>
        <div style="position: absolute; right: 1em;">
            <button id="boton-editar-perfil" type="button" data-bs-toggle="modal" data-bs-target="#modal-editar-perfil"> <img src="../assets/icons/user.svg" class="icono-boton"> Editar perfil</button>
            &nbsp;
            <button id="boton-cerrar-sesion"> <img src="../assets/icons/logout.svg" class="icono-boton"> Cerrar sesión</button>
        </div>
    </nav>
    <section>
        <div id="contenedor-section-administrador">
            <div id="contenedor-artistas"></div>
            <div id="contenedor-albumes"></div>
            <div id="contenedor-canciones"></div>
            <!-- INICIO ACORDION -->
            <!-- <div class="accordion w-75 mx-auto bg-dark" id="accordionPanelsStayOpenExample">
                <div class="accordion-item bg-dark">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Artistas
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div id="contenedor-artistas"></div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Albumes
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Canciones
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <div id="contenedor-tabla-estadisticas"></div>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- <button id="boton-subir-cancion" data-bs-toggle="modal" data-bs-target="#modal-subir-cancion"><img src="../assets/icons/upload.svg" class="icono-boton"> Nueva canción</button> -->
            <div class="btn-group dropup">
                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Dropup</button>
                <ul class="dropdown-menu bg-dark">
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-crear-artista">Nuevo Artista</button></li>
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-crear-album">Nuevo Album</button></li>
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-subir-cancion">Nueva Canción</button></li>
                    <li><button class="dropdown-item">Crear perfil administrador</button></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- MODAL EDITAR PERFIL -->
    <div class="modal fade" id="modal-editar-perfil"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                </div>
                <div class="modal-body text-center">
                    <h3>Editar perfil</h3>
                    <form id="form-editar-perfil">
                        <div>
                            <label for="nombre">Nombre de usuario</label>
                            <br>
                            <input type="text" name="nombre" id="input-editar-nombre" autocomplete="off">
                        </div>
                        <div>
                            <label for="nombre">Correo electrónico</label>
                            <br>
                            <input type="email" name="correo" id="input-editar-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="clave">Nueva clave</label>
                            <br/>
                            <input type="password" name="clave"/>
                        </div>
                        <div>
                            <label for="confirmar-clave">Confirmar clave</label>
                            <br/>
                            <input type="password" name="confirmar-clave"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-edicion-perfil">Guardar cambios</button>
                    <button id="boton-eliminar-perfil" class="boton-eliminar">Eliminar perfil</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL SUBIR CANCION -->
    <!-- <div class="modal fade" id="modal-subir-cancion"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nueva cancion</h3>
                    <form id="form-nueva-cancion">
                        <div>
                            <label for="titulo">Título de la canción</label>
                            <br>
                            <input type="text" name="titulo" id="input-titulo" autocomplete="off">
                        </div>
                        <div>
                            <label for="artista">Artista</label>
                            <br>
                            <input type="text" name="artista" id="input-artista" autocomplete="off">
                        </div>
                        <div>
                            <label for="album">Álbum</label>
                            <br/>
                            <input type="text" name="album" id="input-album" autocomplete="off"/>
                        </div>
                        <div>
                            <label class="label-cargar-archivo">
                                <input type="file" name="pista" id="input-pista">
                                Pista de audio
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-nueva-cancion" class="mx-auto">Guardar canción</button>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- MODAL NUEVA CANCION -->
    <div class="modal fade" id="modal-subir-cancion"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nueva cancion</h3>
                    <form id="form-nueva-cancion">
                        <div>
                            <label for="titulo">Título de la canción</label>
                            <br>
                            <input type="text" name="titulo" id="input-titulo" autocomplete="off">
                        </div>
                        <div>
                            <label for="genero">Género</label>
                            <br>
                            <select name="genero" id="select-genero-crear-cancion">
                                <option value="">Seleccione un género</option>
                            </select>
                        </div>
                        <div>
                            <label for="artista">Artista</label>
                            <br>
                            <select name="artista" id="select-artista-crear-cancion">
                                <option value="">Seleccione un artista</option>
                            </select>
                        </div>
                        <div>
                            <label for="album">Álbum</label>
                            <br/>
                            <select name="album" id="select-album-crear-cancion">
                                <option value="">Seleccione un álbum</option>
                            </select>
                        </div>
                        <div>
                            <label class="label-cargar-archivo">
                                <input type="file" name="pista" id="input-pista">
                                Pista de audio
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-nueva-cancion" class="mx-auto">Guardar canción</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR CANCION -->
    <div class="modal fade" id="modal-editar-cancion"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Actualizar datos de cancion</h3>
                    <form id="form-editar-cancion">
                        <input type="text" disabled class="d-none" id="input-id-cancion">
                        <div>
                            <label for="titulo">Título de la canción</label>
                            <br>
                            <input type="text" name="titulo" id="input-editar-titulo" autocomplete="off">
                        </div>
                        <div>
                            <label for="artista">Artista</label>
                            <br>
                            <input type="text" name="artista" id="input-editar-artista" autocomplete="off">
                        </div>
                        <div>
                            <label for="album">Álbum</label>
                            <br/>
                            <input type="text" name="album" id="input-editar-album" autocomplete="off"/>
                        </div>
                        <div>
                            <label class="label-cargar-archivo">
                                <input type="file" name="pista" id="input-editar-pista">
                                Pista de audio
                            </label>
                        </div>
                    </form>
                </div>
                <div class="mx-auto text-center mb-3">
                    <button class="mx-auto d-inline" id="boton-guardar-editar-cancion">Actualizar canción</button>
                    <br>
                    <button class="mx-auto d-inline mt-3 boton-eliminar" id="boton-eliminar-cancion">Eliminar canción</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CREAR ARTISTA -->
    <div class="modal fade" id="modal-crear-artista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nuevo artista</h3>
                    <form id="form-nuevo-artista">
                        <div>
                            <label for="artista">Nombre del artista / banda</label>
                            <br>
                            <input type="text" name="artista" id="input-nuevo-artista" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-nuevo-artista" class="mx-auto mb-4">Guardar artista</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CREAR ALBUM -->
    <div class="modal fade" id="modal-crear-album"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nuevo Álbum</h3>
                    <form id="form-nuevo-album">
                        <div>
                            <label for="album">Nombre del album</label>
                            <br>
                            <input type="text" name="album" id="input-nombre-album" autocomplete="off">
                        </div>
                        <div>
                            <label for="titulo">Fecha de lanzamiento</label>
                            <br>
                            <input type="date" name="fecha" id="input-fecha-album" autocomplete="off">
                        </div>
                        <div>
                            <label for="artista">Artista</label>
                            <br>
                            <select name="artista" id="select-artista-crear-album">
                                <option>Seleccione un artista</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-nuevo-album" class="mx-auto mb-4">Guardar album</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>