<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <script src="../scripts/bootstrap/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <script src="../scripts/dashboard-perfil.js" defer></script>
    <script src="../scripts/dashboard-admin.js" defer></script>
    <title>Deezify - Admin</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-white">
        <div>
            <img src="../assets/icons/logo.svg" alt="d" class="w-25">
            <h1 class="d-inline align-middle" id="h1-deezify">Deezify</h1>
            <span class="align-bottom">Admin</span>
        </div>
        <div style="position: absolute; right: 1em;">
            <button id="boton-editar-perfil" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="../assets/icons/user.svg" class="icono-boton"> Editar perfil</button>
            &nbsp;
            <button id="boton-cerrar-sesion"> <img src="../assets/icons/logout.svg" class="icono-boton"> Cerrar sesión</button>
        </div>
    </nav>
    <section id="section-principal">
        <div id="contenedor-section-administrador">
            <div id="contenedor-tabla-estadisticas"></div>
            <button id="boton-subir-cancion" data-bs-toggle="modal" data-bs-target="#modal-subir-cancion"><img src="../assets/icons/upload.svg" class="icono-boton"> Nueva canción</button>
        </div>
    </section>

    <!-- MODAL EDITAR PERFIL -->
    <div class="modal fade" id="exampleModal"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                </div>
                <div class="modal-body text-center">
                    <h3>Editar perfil</h3>
                    <form id="form-editar-perfil">
                        <div>
                            <label for="nombre">Nombre de usuario</label>
                            <br>
                            <input type="text" name="nombre" id="input-editar-nombre" autocomplete="off">
                        </div>
                        <div>
                            <label for="nombre">Correo electrónico</label>
                            <br>
                            <input type="email" name="correo" id="input-editar-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="clave">Nueva clave</label>
                            <br/>
                            <input type="password" name="clave"/>
                        </div>
                        <div>
                            <label for="confirmar-clave">Confirmar clave</label>
                            <br/>
                            <input type="password" name="confirmar-clave"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-edicion-perfil">Guardar cambios</button>
                    <button id="boton-eliminar-perfil" class="boton-eliminar">Eliminar perfil</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL SUBIR CANCION -->
    <div class="modal fade" id="modal-subir-cancion"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nueva cancion</h3>
                    <form id="form-nueva-cancion">
                        <div>
                            <label for="titulo">Título de la cancion</label>
                            <br>
                            <input type="text" name="titulo" id="input-titulo-cancion" autocomplete="off">
                        </div>
                        <div>
                            <label for="artista">Artista</label>
                            <br>
                            <input type="text" name="artista" id="input-artista-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="album">Álbum</label>
                            <br/>
                            <input type="text" name="album" id="input-album-cancion" autocomplete="off"/>
                        </div>
                        <div>
                            <label class="label-cargar-archivo">
                                <input type="file" name="pista" id="input-pista-cancion">
                                Pista de audio
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-nueva-cancion">Guardar canción</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>