<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <script src="../scripts/bootstrap/bootstrap.min.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/dashboard-usuario.css">
    <!-- JS -->
    <script src="../scripts/dashboard-perfil.js" defer></script>
    <script src="../scripts/dashboard-usuario.js" defer></script>
    <script src="../scripts/dashboard-busquedas.js" defer></script>
    <script src="../scripts/dashboard-favoritos.js" defer></script>

    <title>Deezify - Dashboard</title>
</head>
<body>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-dark bg-dark text-white">
        <div>
            <img src="../assets/icons/logo.svg" alt="d" class="w-25">
            <h1 class="d-inline align-middle" id="h1-deezify">Deezify</h1>
        </div>
        <div style="position: absolute; right: 1em;">
            <button id="boton-editar-perfil" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="../assets/icons/user.svg" class="icono-boton"> Editar perfil</button>
            &nbsp;
            <button id="boton-cerrar-sesion"> <img src="../assets/icons/logout.svg" class="icono-boton"> Cerrar sesión</button>
        </div>
    </nav>
    <!-- ASIDE -->
    <aside class="bg-dark" id="aside-principal">
        <div id="favoritos">
            <button id="reproducir-favoritos"><img src="../assets/icons/reproducir.svg" class="icono-boton"></button>
            <h3>Favoritos</h3>
            <button id="ver-favoritos" class="boton-gris" data-bs-toggle="modal" data-bs-target="#modal-favoritos"><img src="../assets/icons/visualizar.svg" class="icono-boton"></button>
            <!-- <button id="boton-favoritos" data-bs-toggle="modal" data-bs-target="#modal-favoritos"><img src="../assets/icons/corazon-lleno.svg" class="icono-boton"> Favoritos</button> -->
        </div>
        <h4>Listas</h4>
        <hr>
        <div id="contenedor-listas"></div>
        <button id="boton-crear-lista" data-bs-toggle="modal" data-bs-target="#modal-crear-lista"><img src="../assets/icons/crear-lista.svg" class="icono-boton"> Nueva lista</button>
    </aside>
    <!-- SECTION -->
    <section id="section-principal-usuario">
        <button id="visualizar-aside">Aside</button>
        <form id="form-busqueda">
            <select name="select_busqueda" id="select-busqueda">
                <option value="canciones">Canciones</option>
                <option value="artistas">Artistas</option>
                <option value="albumes">Albumes</option>
                <option value="listas">Listas</option>
            </select>
            <input type="text" name="palabra_clave" id="input-busqueda" autocomplete="off">
            <button id="boton-buscar"><img src="../assets/icons/search.svg"></button>
        </form>
        <div id="contenedor-resultados"></div>
    </section>

    <!-- MODAL EDITAR PERFIL -->
    <div class="modal fade" id="exampleModal"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                </div>
                <div class="modal-body text-center">
                    <h3>Editar perfil</h3>
                    <form id="form-editar-perfil">
                        <div>
                            <label for="nombre">Nombre de usuario</label>
                            <br>
                            <input type="text" name="nombre" id="input-editar-nombre" autocomplete="off">
                        </div>
                        <div>
                            <label for="nombre">Correo electrónico</label>
                            <br>
                            <input type="email" name="correo" id="input-editar-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="clave">Nueva clave</label>
                            <br/>
                            <input type="password" name="clave"/>
                        </div>
                        <div>
                            <label for="confirmar-clave">Confirmar clave</label>
                            <br/>
                            <input type="password" name="confirmar-clave"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-edicion-perfil">Guardar cambios</button>
                    <button id="boton-eliminar-perfil" class="boton-eliminar">Eliminar perfil</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FAVORITOS -->
    <div class="modal fade" id="modal-favoritos"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Favoritos</h3>
                    <br>
                    <div id="contenedor-favoritos"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CREAR LISTA -->
    <div class="modal fade" id="modal-crear-lista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                </div>
                <div class="modal-body text-center">
                    <h3>Crear lista de reproducción</h3>
                    <form id="form-crear-lista">
                        <div>
                            <label for="nombre">Nombre de la lista</label>
                            <br>
                            <input type="text" name="nombre" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="boton-guardar-lista">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR LISTA -->
    <div class="modal fade" id="modal-editar-lista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar lista de reproducción</h3>
                    <form id="form-editar-lista">
                        <div>
                            <label for="nombre">Nombre de la lista</label>
                            <br>
                            <input type="text" name="nombre_editar_lista" id="input-editar-nombre-lista" autocomplete="off">
                        </div>
                        <hr>
                        <div id="contenedor-input-canciones" style="border: 1px dashed green"></div>
                    </form>
                </div>
                <div class="mx-auto text-center mt-5 mb-3">
                    <button id="boton-guardar-edicion-lista">Guardar edicion</button>
                    <br>
                    <button id="boton-eliminar-lista" class="boton-eliminar mt-3">Eliminar lista</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VISUALIZAR LISTA -->
    <div class="modal fade" id="modal-visualizar-lista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3 id="nombre-visualizar-lista">lista de reproducción</h3>
                    <div id="contenedor-visualizar-canciones" style="border: 1px dashed green"></div>
                </div>
                <div class="mx-auto text-center mt-5 mb-3">
                    <button id="boton-dejar-de-seguir" class="boton-eliminar"><img src="../assets/icons/remove.svg" class="icono-boton"> Dejar de seguir</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>