<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <script src="../scripts/bootstrap/bootstrap.min.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/dashboard-usuario.css">
    <!-- JS MAIN -->
    <script src="../scripts/dashboard-perfil.js" defer></script>
    <script src="../scripts/dashboard-usuario.js" type="module" defer></script>
    <script src="../scripts/dashboard-favoritos.js" type="module" defer></script>
    <script src="../scripts/dashboard-busquedas.js" type="module" defer></script>

    <title>Deezify - Dashboard</title>
</head>
<body>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-dark bg-dark text-white">
        <div>
            <img src="../assets/icons/logo.svg" alt="d" class="w-25">
            <h1 class="d-inline align-middle" id="h1-deezify">Deezify</h1>
        </div>
        <div style="position: absolute; right: 1em;">
            <button id="boton-vista-admin" onclick="location.href='/admin'" style="display: none;"> <img src="../assets/icons/admin.svg" class="icono-boton"> Administrador</button>
            &nbsp;
            <button id="boton-editar-perfil" type="button" data-bs-toggle="modal" data-bs-target="#modal-editar-perfil"> <img src="../assets/icons/user.svg" class="icono-boton"> Editar perfil</button>
            &nbsp;
            <button id="boton-cerrar-sesion"> <img src="../assets/icons/logout.svg" class="icono-boton"> Cerrar sesión</button>
        </div>
    </nav>
    <!-- ASIDE -->
    <aside class="bg-dark" id="aside-principal">
        <div id="favoritos">
            <button id="reproducir-favoritos"><img src="../assets/icons/reproducir.svg" class="icono-boton"></button>
            <h3>Favoritos</h3>
            <button id="ver-favoritos" class="boton-gris" data-bs-toggle="modal" data-bs-target="#modal-favoritos"><img src="../assets/icons/visualizar.svg" class="icono-boton"></button>
        </div>
        <div id="contenedor-listas" class="contenedor-elemento"></div>
        <button id="boton-crear-lista" data-bs-toggle="modal" data-bs-target="#modal-crear-lista"><img src="../assets/icons/crear-lista.svg" class="icono-boton"> Nueva lista</button>
        <div id="contenedor-artistas-seguidos" class="contenedor-elemento"></div>
        <div id="contenedor-albumes-seguidos" class="contenedor-elemento"></div>
    </aside>
    <!-- SECTION -->
    <section id="section-principal-usuario">
        <form id="form-busqueda">
            <select name="select_busqueda" id="select-busqueda">
                <option value="canciones">Canciones</option>
                <option value="genero">Género</option>
                <option value="artistas">Artistas</option>
                <option value="albumes">Albumes</option>
                <option value="listas">Listas</option>
            </select>
            <select name="select_genero" id="select-genero" style="display: none;">
                <option value="Rock">Rock</option>
                <option value="Metal">Metal</option>
                <option value="Clasica">Clásica</option>
                <option value="Rap">Rap</option>
                <option value="Electronica">Electrónica</option>
                <option value="Pop">Pop</option>
                <option value="Hip-Hop">Hip-Hop</option>
                <option value="Reggaeton">Reggaetón</option>
            </select>
            <input type="text" name="palabra_clave" id="input-busqueda" autocomplete="off">
            <button id="boton-buscar"><img src="../assets/icons/search.svg"></button>
        </form>
        <!-- CONTENEDOR DE RESULTADOS QUE INICIALMENTE POSEE TARJETAS DE INFORMACION -->
        <div id="contenedor-resultados">
            <h3>¡Comencemos!</h3>
            <div class="card-group">
                <div class="contenedor-tarjeta" style="margin-top: 0px;">
                    <div class="card text-white bg-dark mx-auto mt-5 tarjeta-inicio">
                        <div class="text-center mt-2 mb-2">
                            <h2>Listas de reproducción</h2>
                            <img src="../assets/icons/playlist-play.svg">
                            <p>Explora listas de reproducción de otros usuarios o crea las tuyas y agregale canciones.</p>
                        </div>
                    </div>
                </div>

                <div class="contenedor-tarjeta" style="margin-top: 0px;">
                    <div class="card text-white bg-dark mx-auto mt-5 tarjeta-inicio">
                        <div class="text-center mt-2 mb-2">
                            <h2>Géneros</h2>
                            <img src="../assets/icons/rock.svg" style="color: #212429;">
                            <p>Busca canciones por genero escribiendo una palabra clave o descubre todas si no brindas alguna.</p>
                        </div>
                    </div>
                </div>
    
                <div class="contenedor-tarjeta" style="margin-top: 0px;">
                    <div class="card text-white bg-dark mx-auto mt-5 tarjeta-inicio">
                        <div class="text-center mt-2 mb-2">
                            <h2>Favoritos y segidos</h2>
                            <div>
                                <img src="../assets/icons/corazon-vacio.svg">
                            </div>
                            <p>Agrega las canciones que mas te representen a favoritos. También puedes seguir artistas y álbumes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- BARRA DE REPRODUCCION INFERIOR -->
    <nav id="nav-reproductor" class="bg-dark">
        <div id="contenedor-botones">
            <button id="boton-anterior-cancion">
                <img src="../assets/icons/anterior-cancion.svg" class="icono-reproductor">
            </button>
            &nbsp;
            <button id="boton-reproducir-pausar">
                <img src="../assets/icons/reproducir.svg" class="icono-reproductor">
            </button>
            &nbsp;
            <button id="boton-siguiente-cancion">
                <img src="../assets/icons/siguiente-cancion.svg" class="icono-reproductor">
            </button>
        </div>
        <input type="range" id="rango-cancion" min=0 value="0" disabled>
        <div id="contenedor-info-cancion"></div>
        <div id="contenedor-imagen-album-cancion"></div>
        <!-- CONTENEDOR DONDE SE INCLUYE EL AUDIO TAG CON SRC DEL ENDPOINT /reproduccion/:id -->
        <div id="contenedor-reproductor"></div>
    </nav>

    <!-- MODAL EDITAR PERFIL -->
    <div class="modal fade" id="modal-editar-perfil"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar perfil</h3>
                    <form id="form-editar-perfil">
                        <div>
                            <label for="nombre">Nombre de usuario</label>
                            <br>
                            <input type="text" name="nombre" id="input-editar-nombre" autocomplete="off">
                        </div>
                        <div>
                            <label for="nombre">Correo electrónico</label>
                            <br>
                            <input type="email" name="correo" id="input-editar-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="clave">Nueva clave</label>
                            <br/>
                            <input type="password" name="clave"/>
                        </div>
                        <div>
                            <label for="confirmar-clave">Confirmar clave</label>
                            <br/>
                            <input type="password" name="confirmar-clave"/>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-edicion-perfil" class="mt-3 mb-3 w-auto mx-auto">Guardar cambios</button>
                <button id="boton-eliminar-perfil" class="boton-eliminar mt-3 mb-4 w-auto mx-auto">Eliminar perfil</button>
            </div>
        </div>
    </div>

    <!-- MODAL FAVORITOS -->
    <div class="modal fade" id="modal-favoritos"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Favoritos</h3>
                    <br>
                    <div id="contenedor-favoritos"></div>
                </div>
                <button id="boton-reproducir-modal-favoritos" class="w-25 mx-auto mb-4"><img src="../assets/icons/reproducir.svg" class="icono-boton"></button>
            </div>
        </div>
    </div>

    <!-- MODAL CREAR LISTA -->
    <div class="modal fade" id="modal-crear-lista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Crear lista de reproducción</h3>
                    <form id="form-crear-lista" onkeydown="return event.key != 'Enter';">
                        <div>
                            <label for="nombre">Nombre de la lista</label>
                            <br>
                            <input type="text" name="nombre" autocomplete="off">
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-lista" class="w-25 mx-auto mt-5 mb-4">Guardar</button>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR LISTA -->
    <div class="modal fade" id="modal-editar-lista"> 
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar lista de reproducción</h3>
                    <form id="form-editar-lista" onkeydown="return event.key != 'Enter';">
                        <div>
                            <label for="nombre">Nombre de la lista</label>
                            <br>
                            <input type="text" name="nombre_editar_lista" id="input-editar-nombre-lista" autocomplete="off">
                        </div>
                        <div id="contenedor-input-canciones" class="mt-4"></div>
                    </form>
                </div>
                <div class="mx-auto text-center mt-3 mb-3">
                    <button id="boton-guardar-edicion-lista">Guardar edicion</button>
                    <br>
                    <button id="boton-eliminar-lista" class="boton-eliminar mt-3">Eliminar lista</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VISUALIZAR LISTA -->
    <div class="modal fade" id="modal-visualizar-lista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3 id="nombre-visualizar-lista" class="mb-5">lista de reproducción</h3>
                    <div id="contenedor-visualizar-canciones-lista"></div>
                </div>
                <div class="mx-auto text-center mt-5 mb-4">
                    <button id="boton-dejar-de-seguir-lista" class="boton-eliminar" style="display: none;"><img src="../assets/icons/remove.svg" class="icono-boton"> Dejar de seguir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VISUALIZAR ARTISTA -->
    <div class="modal fade" id="modal-visualizar-artista"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h2 id="nombre-visualizar-artista" class="mb-5">Artista</h2>
                    <div id="contenedor-visualizar-albumes-artista"></div>
                </div>
                <div class="mx-auto text-center mt-5 mb-4">
                    <button id="boton-dejar-de-seguir-artista" class="boton-eliminar" style="display: none;"><img src="../assets/icons/remove.svg" class="icono-boton"> Dejar de seguir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VISUALIZAR ALBUM -->
    <div class="modal fade" id="modal-visualizar-album"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <div id="contenedor-caratula-visualizar-album"></div>
                    <b><h3 id="nombre-visualizar-album">Album</h3></b>
                    <h5 id="nombre-artista-visualizar-album">Artista</h5>
                    <h6 id="lanzamiento-visualizar-album" class="mt-3 mb-4">Lanzamiento</h6>
                    <div id="contenedor-visualizar-canciones-album"></div>
                </div>
                <div class="mx-auto text-center mt-5 mb-4">
                    <button id="boton-dejar-de-seguir-album" class="boton-eliminar" style="display: none;"><img src="../assets/icons/remove.svg" class="icono-boton"> Dejar de seguir</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>