<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <script src="../scripts/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <title>Deezify</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-white">
        <div>
            <img src="../assets/icons/logo.svg" alt="d" class="w-25">
            <h1 class="d-inline align-middle">Deezify</h1>
        </div>
        <div style="position: absolute; right: 1em;">
            <!-- <button><a href="/login">Ingresar</a></button> -->
            <button onclick="location.href='/login'">Ingresar</button>
            &nbsp;
            <!-- <button><a href="/registro">Registrarse</a></button> -->
            <button onclick="location.href='/registro'">Registrarse</button>
        </div>
    </nav>
</body>
</html>