<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <script src="../scripts/login.js" defer></script>
    <title>Deezify - Login</title>
</head>
<body>
    <div class="contenedor-tarjeta">
        <div class="card text-white bg-dark mx-auto mt-5">
            <div class="card-header">
                <button class="boton-volver" onclick="location.href='/'">Inicio</button>
            </div>
            <div class="text-center mt-2 mb-2">
                <h2>Iniciar sesión</h2>
                <form autocomplete="off" id="form-login">
                    <div>
                        <label for="nombre">Usuario o correo</label>
                        <br/>
                        <input type="text" name="usuario"/>
                    </div>
                    <div>
                        <label for="clave">Clave de acceso</label>
                        <br/>
                        <input type="password" name="clave"/>
                    </div>
                </form>
                <button id="boton-login" class="mx-auto mt-3">Ingresar</button>
                <div class="mt-2 mb-2">
                    <p class="d-inline">¿No tienes cuenta? </p><a class="d-inline text-white" href="/registro">regístrate</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>