<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/estilo-principal.css">
    <script src="../scripts/registro.js" defer></script>
    <title>Deezify - Registro</title>
</head>
<body>
    <div class="contenedor-tarjeta">
        <div class="card text-white bg-dark mx-auto mt-5">
            <div class="card-header">
                <button class="boton-volver"><a href="/">Inicio</a></button>
            </div>
            <div class="text-center mt-2 mb-2">
                <h2>Crear nuevo usuario</h2>
                <form autocomplete="off" id="form-registro">
                    <div>
                        <label for="nombre-usuario">Nombre de usuario</label>
                        <br/>
                        <input type="text" name="usuario"/>
                    </div>
                    <div>
                        <label for="correo-usuario">Correo electrónico</label>
                        <br/>
                        <input type="email" name="correo"/>
                    </div>
                    <div>
                        <label for="nombre-usuario">Clave de acceso</label>
                        <br/>
                        <input type="password" name="clave"/>
                    </div>
                </form>
                <button id="boton-registro" class="mx-auto mt-3">Registrarse</button>
                <div class="mt-2 mb-2">
                    <p class="d-inline">¿Ya tienes cuenta? </p><a class="d-inline text-white" href="/login">ingresa</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>