#boton-crear-lista{
    margin-top: 2em;
    margin-bottom: 2em;
}

#favoritos{
    display: flex;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 75%;
    border-radius: 25px;
    height: 3em;
    background-color: rgba(65, 66, 71, 0.75);
}
#favoritos button{
    width: 3em;
}

#favoritos h3{
    margin: auto;
    /* line-height: 1.5em; */
    /* margin-left: 0.5em; */
}

#favoritos button{
    margin: auto;
    height: 2.5em;
    width: 2.5em;
}

#favoritos button:first-child{
    margin-left: 0.5em;
}

#favoritos button:last-child{
    margin-right: 0.5em;
}

.contenedor-elemento{
    text-align: left;
    margin: 1em;
    font-size: large;
}

.contenedor-elemento h4{
    text-align: center;
}

.contenedor-elemento div{
    display: flex;
    margin-bottom: 1em;
}

.contenedor-elemento div button{
    height: 2em;
    width: 2em;
    margin: auto;
    line-height: 1em;
}

.contenedor-elemento div button:first-child{
    margin-left: 0.5em;
}

.contenedor-elemento div button:last-child{
    margin-right: 0.5em;
}

.contenedor-elemento p{
    width: 100%;
    margin: auto;
    margin-left: 0.5em;
    justify-content: left;
}

#contenedor-favoritos input, #contenedor-input-canciones input, #contenedor-visualizar-canciones-lista input, #contenedor-visualizar-albumes-artista input, #contenedor-visualizar-canciones-album input{
    width: 55%;
    height: 3em;
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    text-align: center;
}

#contenedor-favoritos button, #contenedor-input-canciones button, #contenedor-visualizar-albumes-artista button, #contenedor-visualizar-canciones-album button, #contenedor-visualizar-canciones-lista button{
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

.caratula-visualizar-album{
    width: 50%;
    margin-bottom: 1em;
    transition: transform 0.5s;
}

.caratula-visualizar-album:hover{
    transform: scale(1.05);
}

.caratula-tabla-album{
    width: 40%;
}

.caratula-album-cancion-reproductor{
    width: 50px;
    margin-left: 1em;
}

/* AJUSTE EN VISTA MOVIL */
@media (max-width: 480px) {
    #contenedor-favoritos input, #contenedor-input-canciones input, #contenedor-visualizar-canciones-lista input, #contenedor-visualizar-albumes-artista input, #contenedor-visualizar-canciones-album input{
        width: 45%;
        margin-right: 0.2em;
    }
    #contenedor-favoritos button, #contenedor-input-canciones button, #contenedor-visualizar-albumes-artista button, #contenedor-visualizar-canciones-album button, #contenedor-visualizar-canciones-lista button{
        margin-right: 0.2em;
    }
}
