#boton-crear-lista{
    margin-top: 2em;
    margin-bottom: 2em;
}

#favoritos{
    display: flex;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 75%;
    border-radius: 25px;
    height: 3em;
    background-color: rgba(65, 66, 71, 0.75);
}
#favoritos button{
    width: 3em;
}

#favoritos h3{
    margin: auto;
    /* line-height: 1.5em; */
    /* margin-left: 0.5em; */
}

#favoritos button{
    margin: auto;
    height: 2.5em;
    width: 2.5em;
}

#favoritos button:first-child{
    margin-left: 0.5em;
}

#favoritos button:last-child{
    margin-right: 0.5em;
}

#contenedor-favoritos{
    margin-bottom: 3em;
}

.contenedor-elemento{
    /* height: 8em; */
    text-align: left;
    margin: 1em;
    font-size: large;
    /* background-color: red; */
}

.contenedor-elemento h4{
    text-align: center;
}

.contenedor-elemento div{
    display: flex;
    margin-bottom: 1em;
}

.contenedor-elemento div button{
    height: 2em;
    width: 2em;
    margin: auto;
    line-height: 1em;
}

.contenedor-elemento div button:first-child{
    margin-left: 0.5em;
}

.contenedor-elemento div button:last-child{
    margin-right: 0.5em;
}

.contenedor-elemento p{
    width: 100%;
    margin: auto;
    margin-left: 0.5em;
    justify-content: left;
}

#contenedor-favoritos input, #contenedor-input-canciones input, #contenedor-visualizar-canciones-lista input, #contenedor-visualizar-albumes-artista input, #contenedor-visualizar-canciones-album input{
    width: 55%;
    height: 3em;
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    text-align: center;
}

#contenedor-favoritos button, #contenedor-input-canciones button, #contenedor-visualizar-albumes-artista button, #contenedor-visualizar-canciones-album button, #contenedor-visualizar-canciones-lista button{
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

/* REPRODUCTOR DE MUSICA INFERIOR */
#nav-reproductor{
    display: flex;
    align-items: center;
    gap: 2em;

    /* justify-content: space-between; */
}

#contenedor-info-cancion{
    display: inline;
    padding: 1em;
}

#contenedor-info-cancion p{
    margin: auto;
}

.contenedor-botones{
    flex-basis: 20%;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor-botones button{
}

.icono-reproductor{
    width: 30px;
}

input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: rgba(95, 96, 101, 0.75);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #ff9100;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: white;
    box-shadow: -250px 0 0 256px #ff9100;
  }

/* #contenedor-resultados{
    width: 80%;
    margin: auto;
} */