aside{
    height: 88vh;
    width: 25%;
    /* background-color: white; */
    color: white;
    float: left;
}

.icono-boton{
    width: 25px;
    margin: auto;
}

section{
    height: 88vh;
    background-color: gray;
    text-align: center;
}

@media (max-width: 800px) {
   
    aside{
        width: 40%;
    }

}