aside{
    height: 88vh;
    width: 25%;
    /* background-color: white; */
    color: white;
    float: left;
}

.icono-boton{
    width: 25px;
    margin: auto;
}

section{
    height: 88vh;
    background-color: gray;
    text-align: center;
}

.boton-eliminar{
    background-color: #ff3d00;
}

.boton-eliminar:hover, .boton-eliminar:focus{
    background-color: #dd2c00;
}

/* DISENIO MODAL */
.modal-content{
    border-radius: 25px;
    color: white;
}

.modal-header, .modal-footer{
    border: 0px;
}

/* AJUSTAR ELEMENTOS DE LA VISTA PARA PANTALLAS PEQUENIAS */
@media (max-width: 800px) {
   
    aside{
        width: 40%;
    }

}
@media (max-width: 480px) {
   
    #h1-deezify{
        visibility: hidden;
    }
    
}