/* ESTILO BODY */
body{
    background-color: rgba(53, 56, 61, 1);
    color: white;
    overflow: hidden;
}

h1{
    /* EVITAR QUE UN USUARIO PUEDA SELECCIONAR EL TEXTO*/
    user-select: none; 
}

img{
    /* EVITAR QUE UN USUARIO PUEDA ARRASTRAR LA IMAGEN */
    -webkit-user-drag: none;
}

/* ESTILO PERSONALIZADO TARJETAS */
.card{
    border-radius: 25px;
}
.contenedor-tarjeta{
    width: 30%;
    margin: auto;
}

/* ESTILO DE LOS INPUTS */
input{
    background-color: rgba(65, 66, 71, 0.75);
    border-radius: 25px;
    border: 0cm;
    padding: 0.4em;
    color: white;
}
input:focus{
    outline: none;
}

/* ESTILO DE LOS LABEL */
label{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* ESTILO BOTON DE ACCION PRINCIPAL */
button{
    border-radius: 25px;
    padding: 0.4em;
    /* background-color: #1ed760; */
    /* background-color: #ffa726; */
    background-color: #ff9100;
    border: 0cm;
    transition: background-color 0.5s;
    color: white;
}
button:hover{
    /* background-color: #1db954; */
    /* background-color: #ff9800; */
    background-color: #ff6d00;
}
button:focus{
    outline: none;
    /* background-color: #ff9800; */
    background-color: #ff6d00;
}

/* ESTILO BOTON VOLVER */
.boton-volver, .boton-gris{
    background-color: rgba(65, 66, 71, 0.75);
}
.boton-volver:hover, .boton-gris:hover{
    background-color: rgba(92, 93, 100, 0.75);
}
.boton-volver:focus, .boton-gris:focus{
    background-color: rgba(92, 93, 100, 0.75);
}

button a{
    text-decoration: none;
    color: white;
}
button a:hover{
    color: white;
}

/* AJUSTAR ELEMENTOS PARA PANTALLAS DE MENOR TAMANIO */
@media (max-width: 850px) {
   
    .contenedor-tarjeta{
        width: 70%;
    }

}